{% extends "base.html" %}

{% block title %}Requesters{% endblock %}

{% block page_content %}
    {% if current_user.is_authenticated %}
    <div class="btn-modal-container">
        <button class="btn btn-primary" id="openModal"> <span class="plus-symbol">+</span> Añadir Solicitante</button>
    </div>
    {% endif %}
    <div class="modal-container">
        <div class="personal-modal">
            <span class="requester-icon"></span><h2>Nuevo Solicitante</h2>
            <div>
                <form action="" method="post">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" required>
                      </div>
                      <div class="btn-modal-container">
                          <button type="reset" class="btn btn-secondary" id="close-modal">Cerrar</button>
                          <button type="submit" class="btn btn-primary">Crear</button>
                      </div>
                    </form>
            </div>
        </div>
    </div>

    <div class="card-container">
        {% for r in requesters %}
        <!-- componet and its properties -->
        <requester-card 
            img="{{r.gravatar()}}" 
            full-name="{{r.name | title}} {{r.last_name |title}}" 
            position="{{r.work_as | title}}" 
            recived="43" 
            partial="05" 
            nonrecived="32"
            authenticated="{{ current_user.is_authenticated }}"

            >
        </requester-card>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
{{super()}}
    <script src="{{url_for('static', filename='js/requesters.js')}}"></script>
    <script type="module" src="{{url_for('static', filename='js/components.js')}}"></script>

{% endblock%}


