{% block navbar %}

<nav class="navbar">
  <div class="logo-container">
    <a href="{{url_for('main.show_requesters')}}">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
      <h3>Follow It</h3>
    </a>
  </div>
  <div class="hamburguer">
    <img src="{{url_for('static', filename='icons/list.svg')}}" alt="Menu">
  </div>
  <div class="nav-items">
    <ul>
      <li><a href="{{url_for('main.show_requesters')}}">Solicitantes</a></li>
      <li>
        <a href="">Solicitudes</a></li>
      <li> <a href="">Dashboard</a></li>
    </ul>
  </div>

  <ul class="admin">
    {% if current_user.is_authenticated %}
    <li> <a href="{{url_for('auth.logout')}}">Cerrar sesión</a></li>
          
    {% else %}
    <li> <a href="{{url_for('auth.login')}}">Iniciar sesión</a></li>
    {% endif %}
  </ul>

</nav>

{% endblock %}